﻿@model IEnumerable<CodeFirstWebAPI.Models.ProductDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<select>
    <option value="" selected disabled>Category Names</option>
    @foreach (var item in Model)
    {
        <option>@item.CategoryName</option>
        @*@Html.DropDownListFor(@item.CategoryName, 
                              new { @class = "form-control input-sm", @required = "required" })*@
    }
</select>

